.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.styled-table thead tr{
    background-color: rgb(38, 41, 41);
    color: yellowgreen;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom:  1px solid whitesmoke ;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: whitesmoke;
}

.styled-table tbody tr:last-of-type(even){
    border-bottom: 2px solid green ;
}

.edit {
    color: blue;
}

.btn {
    border:none;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px 3px;
    padding: 5px 8px;
}

.btn-add {
    height:50px;
    width:25%;
    background-color: green;
}

.btn-edit {
    background-color: yellow;
}

.btn-delete {
    background-color:red;
}

.btn-view {
    background-color: yellowgreen;
}


.add {
    border-radius: 5px;
    margin: 3px 3px;
    padding: 5px 8px;
    color: gainsboro;
    font-size: 25px;
    border-radius: 5px;
    background-color: green;
    border: none;
}

.home {
    color: gainsboro;
    font-size: 15px;
    border-radius: 5px;
    background-color: black;
}